<!-- BEGIN PAGE -->
<div class="container"> 
  
  <!-- Your logo goes here -->
  <div class="logo-brand header sidebar rows main-logo">
    <div class="logo">
      <h1><a href="#fakelink" class="visible-xs"><img src="images/wfs-logo-transparent.png" alt="Logo"></a></h1>
    </div>
  </div>
  <!-- End div .header .sidebar .rows --> 
  
   <ng-include src="'templates/menubar.html'"></ng-include>
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN CONTENT -->
  <div class="right content-page"> 
    
    <!-- BEGIN CONTENT HEADER -->
    <div class="header content rows-content-header"> 
      
      <!-- Button mobile view to collapse sidebar menu -->
      <button class="button-menu-mobile show-sidebar"> <i class="fa fa-bars"></i> </button>
      
      <!-- BEGIN NAVBAR CONTENT-->
      <div class="navbar navbar-default" role="navigation">
        <div class="container"> 
          <!-- Navbar header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-angle-double-down"></i> </button>
          </div>
          <!-- End div .navbar-header --> 
          
          <!-- Navbar collapse -->
          <div class="navbar-collapse collapse"> 
		  
			<ul class="nav navbar-nav top-navbar">
              <!-- Notifications -->
              <!-- <li>
			  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="label label-danger absolute">24</span></a>                
              </li> -->
              
              <!-- Dropdown User session -->
              <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa fa-user"></i></a>
                <ul class="dropdown-menu animated half flipInX">
                  <li><a href="" ng-click="detailAdmin()">{{'Account Setting' | i18n}}</a></li>
                  <li class="divider"></li>
                  <li><a class="md-trigger" href="#fakelink">{{'Logout' |i18n}}</a></li>
                </ul>
              </li>
              <!-- End Dropdown User session -->			
			</ul> 
			
			<div class="top-logo">
			  <img src="images/wfs-logo-transparent.png" alt="Logo">
			</div>			
            
          </div>
          <!-- End div .navbar-collapse --> 
        </div>
        <!-- End div .container --> 
      </div>
      <!-- END NAVBAR CONTENT--> 
	  
	<div class="media user-field">
          <div class="media-body welcome pull-left"> Admin Users
          <!-- End div .media-body --> 
        </div>
        <!-- End div .media --> 
        
	</div>
    </div>
    <!-- END CONTENT HEADER --> 
    
    <!-- START YOUR CONTENT HERE --> 
    <!-- ============================================================== -->
    <div class="body content rows scroll-y"> 
	  
      <!-- Page header -->
      <div class="page-heading">       
      
      <div class="row">
        <div class="col-sm-12"> 
          <!-- Website statistic -->
          <div class="box-info">
			<div class="col-md-9 table-responsive custom-table">
			   <table data-sortable="" class="table" data-sortable-initialized="true">
				  <thead>
					 <tr>
						<th ng-click="sortBy('fn')">Name <span class="sortorder" ng-show="propertyName==='fn'" ng-class="{reverse: reverse}"></span></th>
						<th ng-click="sortBy('role')">Role <span class="sortorder" ng-show="propertyName==='role'" ng-class="{reverse: reverse}"></span></th>
						<th>Phone Number </th>
						<th ng-click="sortBy('title')">Board Function <span class="sortorder" ng-show="propertyName==='title'" ng-class="{reverse: reverse}"></th>
					 </tr>
				  </thead>
				  <tbody>
					 <tr ng-show="user.status === 'A'" ng-repeat="user in allAdminUsers | orderBy:propertyName:reverse">
						<td>{{user.fn}} {{user.ln}}</td>
            <td class="actions adminuser">
              <a ng-click="open(user)" ng-if="user.role === 'N'" data-toggle="tooltip" title="" class="btn btn-default offline deleted" data-original-title="Normal"><i class="fa"></i></a>
              <a ng-click="open(user)" ng-if="user.role === 'A' || user.role === 'S'"data-toggle="tooltip" title="" class="btn btn-default live online" data-original-title="Admin"><i class="fa"></i></a>
            </td>
            <td>{{user.conNu}}</td>
            <td>{{user.title}}</td>
           </tr>
           
				  </tbody>
			   </table>
			</div>
			
			<div class="col-md-12 spacer-20"></div>
			
			<!-- <div class="text-center">
			<button type="button" class="btn btn-wfs"><i class="fa fa-plus"></i>Add New Button</button>
			</div> -->
          </div>
          <!-- End div .box-info --> 
        </div>
        
        <!-- End div .col-sm-4 --> 
      </div>
      <!-- End div .row --> 
      
      <!-- Footer -->
      <footer> <h6 class="text-center">&copy; {{fotterTitle}}</h6></footer> 
      <!-- End Footer --> 
      
    </div>
    <!-- ============================================================== --> 
    <!-- END YOUR CONTENT HERE --> 
    <!-- ============================================================== --> 
    
  </div>
  <!-- END CONTENT -->
  <div class="md-overlay"></div>
</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header admin-modal-header">
            <h3 class="modal-title">Change User Role</h3>
        </div>
        <div class="modal-body">
            <span>Are you sure you want to convert "{{item.fn}} {{item.ln}}" from <span ng-if="item.role=='N'">Normal</span> <span ng-if="item.role=='A' || item.role=='S'">Admin</span> role to <span ng-if="item.role=='A' || item.role=='S'">Normal</span> <span ng-if="item.role=='N'">Admin</span> role</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>