<!-- BEGIN PAGE -->
<div class="container"> 
  
  <!-- Your logo goes here -->
  <div class="logo-brand header sidebar rows main-logo">
    <div class="logo">
      <h1><a href="#fakelink" class="visible-xs"><img src="images/wfs-logo-transparent.png" alt="Logo"></a></h1>
    </div>
  </div>
  <!-- End div .header .sidebar .rows --> 
  
  <!-- BEGIN SIDEBAR -->

 <ng-include src="'templates/menubar.html'"></ng-include>
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN CONTENT -->
  <div class="right content-page"> 
    
    <!-- BEGIN CONTENT HEADER -->
    <div class="header content rows-content-header dashboard"> 
      
      <!-- Button mobile view to collapse sidebar menu -->
      <button class="button-menu-mobile show-sidebar"> <i class="fa fa-bars"></i> </button>
      
      <!-- BEGIN NAVBAR CONTENT-->
      <div class="navbar navbar-default" role="navigation">
        <div class="container"> 
          <!-- Navbar header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-angle-double-down"></i> </button>
          </div>
          <!-- End div .navbar-header --> 
          
          <!-- Navbar collapse -->
          <div class="navbar-collapse collapse"> 
		  
           <ul class="nav navbar-nav top-navbar">
            <!-- Dropdown User session -->
            <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa fa-user"></i></a>
                <ul class="dropdown-menu animated half flipInX">
                  <li><a href="" ng-click="detailAdmin()">{{'Account Setting' | i18n}}</a></li>
                  <li class="divider"></li>
                  <li><a class="md-trigger" href="#fakelink">{{'Logout' |i18n}}</a></li>
                </ul>
              </li>
            <!-- Notifications -->
            <li>
              <a href="" ng-click="showPendingUsers()" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="label label-danger absolute">{{allPendingUsers.length}}</span></a>                
            </li> 
            <!-- End Dropdown User session -->	 		
          </ul> 

			<div class="top-logo">
			  <img src="images/wfs-logo-transparent.png" alt="Logo">
			</div>			
            
          </div>
          <!-- End div .navbar-collapse --> 
        </div>
        <!-- End div .container --> 
      </div>
      <!-- END NAVBAR CONTENT--> 
    </div>
    <!-- END CONTENT HEADER --> 
    
    <!-- START YOUR CONTENT HERE --> 
    <!-- ============================================================== -->
    <div ng-show="showWaitingUsers === false" class="body content rows dashboard-body scroll-y"> 
     <div class="box-info">
      <div class="row">
        <div class="col-sm-8"> 
          <!-- Website statistic -->
          <h2 class="dashboard-header">{{'App Users'| i18n}}</h2>
          <canvas class="app-user-chart" id="appUsers"></canvas>
        </div>
        <div class="col-sm-4"> 
          <!-- Website statistic -->
          <h2 class="dashboard-header">{{'Space In Use'| i18n}}</h2>
          <canvas  class="used-space-chart" id="usedSpace"></canvas>
          <div class="doughnut-inner text-center">
            <p>{{spaceInfo.usedSpacePercent}}</p>
            <span>{{'In use'| i18n }}</span>
          </div>
          <ul class="memory-statistics">
            <li><p class="in-use-space">{{spaceInfo.usedspace}} {{spaceInfo.unit}}</p>{{'In use'| i18n }}</li>
            <li><p class="remaining-space">{{spaceInfo.remspace}} {{spaceInfo.unit}}</p>{{'Remaining' |i18n}}</li>
            <li><p class="total-space">{{spaceInfo.totalspace}} {{spaceInfo.unit}}</p>{{'Total' |i18n}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-info" ng-show="allActionLogs.length > 0">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="dashboard-header">{{'App Activities' | i18n}}</h2>
          <div class="table-responsive custom-table app-activity-table-header">
            <table class="table" data-sortable-initialized="true">
              <thead>
                <tr>
                  <th>{{'Module' | i18n}}</th>
                  <th>{{'Subject' | i18n}}</th>
                  <th>{{'Action' | i18n}}</th>
                  <th>{{'Action By'|i18n}}</th>
                  <th>{{'Date' | i18n}}</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table-responsive custom-table app-activity-table-body">
            <table class="table" data-sortable-initialized="true">
              <tbody>
                <tr ng-repeat="actionLog in allActionLogs">
                  <td><a href="" class="module-link" ng-click = "goto(actionLog.module)">{{actionLog.module}}</a></td>
                  <td>{{actionLog.subject}}</td>
                  <td>{{actionLog.action}}</td>
                  <td>{{actionLog.creator}}</td>
                  <td>{{actionLog.actdate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div ng-show="showWaitingUsers === true" class="body content rows scroll-y">
      <div class="row">
        <div class="col-sm-12"> 
          <div class="box-info">
            <h2>{{"New Users Waiting For Approval"|i18n}}</h2>
            
            <div class="table-responsive myprofile" ng-show="allPendingUsers.length > 0">
               <div ng-show="currUserIndex < allPendingUsers.length-1" ng-click="nextUser()" class="next-button">
                  <i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i>
                </div>
                <div ng-show="currUserIndex > 0" ng-click="prevUser()" class="prev-button">
                  <i class="fa fa-3x fa-long-arrow-left" aria-hidden="true"></i>
                </div>
              <div class="image-holder profile"> 
                <img class="media-object img-circle" id="blah" alt="Avatar" ng-if="allPendingUsers[currUserIndex].imageurl" ng-src="{{allPendingUsers[currUserIndex].imageurl}}">
                <i class="media-object img-circle fa fa-user" ng-if="!allPendingUsers[currUserIndex].imageurl"  alt="Avatar"></i>
              </div>

              <div class="col-md-12 spacer-20"></div>
              <table data-sortable="" width="500" class="table" data-sortable-initialized="true">

                <tbody>
                  <tr>
                    <td>{{'User Name'|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].usNa}}</td>
                  </tr>
                  <tr>
                    <td>{{'First Name'|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].fn}}</td>
                  </tr>
                  <tr>
                    <td>{{"Last Name"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].ln}}</td>
                  </tr>
                  <tr>
                    <td>{{"Gender"|i18n}}</td>
                    <td>
                      <span ng-show="allPendingUsers[currUserIndex].gen=='M'">{{"Male"|i18n}}</span>
                      <span ng-show="allPendingUsers[currUserIndex].gen=='F'">{{"Female"|i18n}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>{{"Address"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].add}}</td>
                  </tr>
                  <tr>
                    <td>{{"City"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].city}}</td>
                  </tr>
                  <tr>
                    <td>{{"Zip Code"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].zipcode}}</td>
                  </tr>
                  <tr>
                    <td>{{"Age"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].age}}</td>
                  </tr>
                  <tr>
                    <td>{{"Tel Nr."|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].conNu}}</td>
                  </tr>
                  <tr>
                    <td>{{"Email"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].emId}}</td>
                  </tr>
                  <tr>
                    <td>{{"Job Title"|i18n}}</td>
                    <td>{{allPendingUsers[currUserIndex].title}}</td>
                  </tr>
                  <tr>
                    <td>{{"Category"|i18n}}</td>
                    <td>
                      {{allPendingUsers[currUserIndex].category.catname}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12 spacer-20"></div>
            <div class="text-center actions">
              <div class="button-wrap">
                <button type="button" class="btn btn-primary" ng-click="aprroveUser(allPendingUsers[currUserIndex])">{{"Approve"|i18n}}</button>
                <button type="submit" class="btn btn-primary" ng-click="donotApproveUser(allPendingUsers[currUserIndex])">{{"Not Approve"|i18n}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- End div .row -->       
    </div>
    <!-- ============================================================== --> 
    <!-- END YOUR CONTENT HERE --> 
    <!-- ============================================================== --> 
    
  </div>
  <!-- END CONTENT -->
  <div class="md-overlay"></div>
</div>
</div>
<!-- Footer -->
     <!--  <footer> <h6 class="text-center">&copy; {{fotterTitle}}</h6></footer> -->
      <!-- End Footer --> 
<!-- End div .container --> 
<!-- END PAGE --> 