<div class="container"> 
  
  <!-- Begin Login Page -->
  <div class="full-content-center animated fadeInDownBig"> 
  <h2 class="text-center">WFS KLUBBEN ADMIN PANEL</h2>
  <a href="#fakelink"><img src="images/wfs-logo-transparent.png" class="logo-login" alt="Logo"></a>
    <div class="login-wrap">
      <div class="box-info">
        <form role="form" name="forgotForm">
          <div class="form-group login-input"> <i class="fa fa-envelope-o overlay"></i>
            <input type="text" class="form-control text-input" placeholder="Enter Your Email ID" ng-model="user.email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
          </div>      
          <div class="text-center">
      <br/>
     <!--  <a href="#">Forgot Email Id? </a> -->
      <br/><br/>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-block"  ng-disabled="forgotForm.$invalid" ng-click="submit(user)">Submit</button>
            </div>
          </div>
      <h6 class="text-center"><br/>powered by unik-apps.com</h6>
        </form>
      </div>
    </div>
  </div>
  <!-- End Login Page --> 
  
</div>