<!-- BEGIN PAGE -->
<div class="container"> 
  
  <!-- Begin Login Page -->
  <div class="full-content-center animated fadeInDownBig"> 
  <h2 class="text-center">{{title}}</h2>
  <a href="#fakelink"><img src="images/wfs-logo-transparent.png" class="logo-login" alt="Logo"></a>
    <div class="login-wrap">
      <div class="box-info">
        <form role="form" name="loginForm">
          <div class="form-group login-input"> <i class="fa fa-user overlay"></i>
            <input type="email" class="form-control text-input" ng-model="user.Username" 
            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  data-i18n-attr = "Email | placeholder" required>
          </div>
          <div class="form-group login-input"> <i class="fa fa-key overlay"></i>
            <input type="password" class="form-control text-input" ng-model="user.Password" data-i18n-attr = "Password | placeholder" required>
          </div>
		  
          <div class="text-center">
		  <br/>
		  <a  ng-click="forgotPassword()">{{ "Forgot Password" | i18n }}?</a> <br><br> <a  ng-click="openResetPasswordModal(resetPassword)">{{"Reset"|i18n}} {{"Password"|i18n}}</a>
		  <br/><br/>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login(user)" class="btn btn-success btn-block">{{"Login" | i18n}}</button>
            </div>
          </div>
		  <h6 class="text-center"><br/>{{fotterTitle}}</h6>
        </form>
      </div>
    </div>
  </div>
  <!-- End Login Page --> 
  
</div>
<!-- End div .container --> 
<!-- END PAGE --> 
<script type="text/ng-template" id="resetPassword.html">
        <div class="modal-header admin-modal-header">
            <h3 class="modal-title">Reset Password</h3>
        </div>
        <div class="modal-body">
          <form name="resetPasswordForm" ng-show="showForm">
            <div class="form-group">
              <label for="userName">Email:</label>
              <input type="text" class="form-control" id="userName" ng-model = "resetPassword.userName" ng-required=true placeholder="{{email}}" ng-focus="invalidUserName=false">
              <span class="error" ng-show="invalidUserName">Email is not valid.</span>
            </div>
            <div class="form-group">
              <label for="oldPassword">Old Password:</label>
              <input type="password" class="form-control" id="oldPassword" ng-required=true ng-model="resetPassword.oldPassword" ng-focus="invalidOldPassword=false">
              <span class="error" ng-show="invalidOldPassword">Empty Password and space are not allowed.</span>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input type="password" class="form-control" name="newPassword" id="newPassword" ng-required=true ng-model="resetPassword.newPassword" ng-focus="invalidNewPassword=false">
              <span class="error" ng-show="invalidNewPassword">Empty Password and space are not allowed.</span>
            </div><div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-required=true ng-model="resetPassword.confirmPassword" ng-focus="invalidConfirmPassword=false;passwordNotMatching=false">
              <span class="error" ng-show="invalidConfirmPassword">Empty Password and space are not allowed.</span>
              <span class="error" ng-show="passwordNotMatching">Password should match.</span>
            </div>
          </form>
          <div ng-show="resetSuccessfull">
            Password Reset Successfull.
          </div>
          <div ng-show="resetFailed">
            Password Reset Failed. Please try again.
          </div>
        </div>
        <div class="modal-footer">
          <div ng-show="showForm">
            <button class="btn btn-primary" ng-click="ok(resetPassword)">OK</button>
            
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          </div>
          <div ng-show="resetFailed || resetSuccessfull">
            <button class="btn btn-primary" ng-click="cancel()">Close</button>
          </div>
        </div>
</script>