  
  <!-- BEGIN SIDEBAR -->
  <div class="left side-menu">
    <div class="body rows scroll-y wfs"> 
      
      <!-- Scrolling sidebar -->
      <div class="sidebar-inner slimscroller"> 
        
        <!-- Logo Session -->
        <div class="media">
						<a class="pull-left" href="#fakelink">
							<img class="media-object img-circle" src="images/avatar.jpg" alt="Avatar">
						</a>
						<div class="media-body">
							<h4 class="media-heading"><strong>Thomas Moller</strong></h4>
						</div><!-- End div .media-body -->
					</div>
        <!-- End div .media --> 
        
        <!-- Sidebar menu -->
        <div id="sidebar-menu">
          <ul>
            <li ng-class="{active : activeMenu === 'Dashboard'}"><a  ng-click="activeMenu = 'Dashboard'">Dashboard</a></li>
            <li ng-class="{active : activeMenu === 'Meetings'}"><a ng-click="MeetingDashboard()">Meetings</a></li>
            <li ng-class="{active : activeMenu === 'Activities'}"><a ng-click="ActivitiesDashboard()">Activities</a></li>
            <li ng-class="{active : activeMenu === 'News Letter'}"><a ng-click="NewsLetterDashboard()" >News Letter</a></li>
            <li ng-class="{active : activeMenu === 'Summary'}"><a ng-click="summaryDashBoard()"> Summary</a></li>
            <li ng-class="{active : activeMenu === 'Suggestions and Ideas'}"><a ng-click="IdeaDashBoard()" >Suggestions and Ideas</a></li>
            <li ng-class="{active : activeMenu === 'Local Argeements'}"><a ng-click="LAGDashBoard()" >Local Agreements</a></li>
            <li ng-class="{active : activeMenu === 'Pay Rate'}"><a ng-click="PayRateDashBoard()">Pay Rate</a></li>
           <li ng-class="{active : activeMenu === 'AMR'}"><a ng-click="AmrDashBoard()">AMR</a></li>
            <li ng-class="{active : activeMenu === 'Contact List'}"><a ng-click="ContactList()">Contact List</a></li>
            <li ng-class="{active : activeMenu === 'Admin User'}"><a ng-click="AdminUserDasgBoard()">Admin User</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <!-- End div #sidebar-menu --> 
        
      </div>
      <!-- End div .sidebar-inner .slimscroller --> 
    </div>
    <!-- End div .body .rows .scroll-y --> 
  </div>
  <!-- END SIDEBAR --> 