  
  <!-- BEGIN SIDEBAR -->
  <div class="left side-menu">
    <div class="body rows scroll-y wfs"> 
      
      <!-- Scrolling sidebar -->
      <div class="sidebar-inner slimscroller"> 
        
        <!-- Logo Session -->
        <div class="media">       
						<a class="pull-left" id="uLink" href="{{userImage}}" target="_blank">
							<img class="media-object img-circle" id="uImage" ng-if="userImage" ng-src="{{userImage}}" alt="Avatar">
							<!-- <img class="media-object img-circle" id="dImage" ng-if="!userImage" ng-src="images/default-user.jpg" alt="Avatar"> -->							
						</a>
						<div class="media-body">
							<h4 class="media-heading"><strong>{{userName}}</strong></h4>
						</div>
		</div>
        <!-- End div .media --> 
        
        <!-- Sidebar menu --> 
        <div id="sidebar-menu">
          <ul>
            <li ng-class="{active : activeMenu === 'Dashboard'}"><a  ng-href="#/dashBoard">{{dashboard}}</a></li>
            <li ng-class="{active : activeMenu === 'Voting'}"><a ng-href="#/voting">{{voting}}</a></li>
            <li ng-class="{active : activeMenu === 'Meetings'}"><a ng-click="MeetingDashboard()">{{meeting}}</a></li>
            <li ng-class="{active : activeMenu === 'News Letter'}"><a ng-click="NewsLetterDashboard()" >{{newsletter}}</a></li>
            <li ng-class="{active : activeMenu === 'Activities'}"><a ng-click="ActivitiesDashboard()">{{activities}}</a></li>  
            <li ng-class="{active : activeMenu === 'Contact List'}"><a ng-click="ContactList()">{{contactlist}}</a></li>  
            <li ng-class="{active : activeMenu === 'Suggestions and Ideas'}"><a ng-click="IdeaDashBoard()" >{{suggestionidea}}</a></li>        
            <li ng-class="{active : activeMenu === 'Summary'}"><a ng-click="summaryDashBoard()"> {{summary}}</a></li>
            <li ng-class="{active : activeMenu === 'AMR'}"><a ng-click="AmrDashBoard()">AMR</a></li>
            <li ng-class="{active : activeMenu === 'Local Argeements'}"><a ng-click="LAGDashBoard()" >{{agreements}}</a></li>
            <li ng-class="{active : activeMenu === 'Pay Rate'}"><a ng-click="PayRateDashBoard()">{{payrate}}</a></li>           
            <li ng-class="{active : activeMenu === 'Admin User'}"><a ng-click="AdminUserDasgBoard()">{{adminuser}}</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <!-- End div #sidebar-menu --> 
        
      </div>
      <!-- End div .sidebar-inner .slimscroller --> 
    </div>
    <!-- End div .body .rows .scroll-y --> 
  </div>
  <!-- END SIDEBAR --> 