  
  <!-- BEGIN SIDEBAR -->
  <div class="left side-menu">
    <div class="body rows scroll-y wfs"> 
      
      <!-- Scrolling sidebar -->
      <div class="sidebar-inner slimscroller"> 
        
        <!-- Logo Session -->
        <div class="media">       
						<div class="pull-left" id="uLink">
							<img class="media-object img-circle" id="uImage" ng-if="userImage" ng-src="{{userImage}}" alt="Avatar">
							<!-- <img class="media-object img-circle" id="dImage" ng-if="!userImage" ng-src="images/default-user.jpg" alt="Avatar"> -->							
						</div>
						<div class="media-body">
							<h4 class="media-heading"><strong>{{userName}}</strong></h4>
						</div>
		</div>
        <!-- End div .media --> 
        
        <!-- Sidebar menu --> 
        <div id="sidebar-menu">
          <ul>
            <li ng-class="{active : activeMenu === 'Dashboard'}"><a  ng-href="#/dashBoard">{{"Dashboard" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'Voting'}"><a ng-href="#/voting">{{"Voting" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'Meetings'}"><a ng-click="MeetingDashboard()">{{"Meeting" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'News Letter'}"><a ng-click="NewsLetterDashboard()" >{{"News Letter" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'Activities'}"><a ng-click="ActivitiesDashboard()">{{"Activities" | i18n}}</a></li>  
            <li ng-class="{active : activeMenu === 'Contact List'}"><a ng-click="ContactList()">{{"Contact List" | i18n}}</a></li>  
            <li ng-class="{active : activeMenu === 'Suggestions and Ideas'}"><a ng-click="IdeaDashBoard()" >{{"Suggestions And Ideas" | i18n}}</a></li>        
            <li ng-class="{active : activeMenu === 'Summary'}"><a ng-click="summaryDashBoard()">{{"Summary" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'AMR'}"><a ng-click="AmrDashBoard()">{{"AMR" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'Local Agreements'}"><a ng-click="LAGDashBoard()" >{{"Local Agreements" | i18n}}</a></li>
            <li ng-class="{active : activeMenu === 'Pay Rate'}"><a ng-click="PayRateDashBoard()">{{"Pay Rate" | i18n}}</a></li>           
            <li ng-class="{active : activeMenu === 'Admin User'}"><a ng-click="AdminUserDasgBoard()">{{"Admin User" | i18n}}</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <!-- End div #sidebar-menu --> 
        
      </div>
      <!-- End div .sidebar-inner .slimscroller --> 
    </div>
    <!-- End div .body .rows .scroll-y --> 
  </div>
  <!-- END SIDEBAR --> 