
<!-- BEGIN PAGE -->
<div class="container"> 
  
  <!-- Your logo goes here -->
  <div class="logo-brand header sidebar rows main-logo">
    <div class="logo">
      <h1><a href="#fakelink" class="visible-xs"><img src="images/wfs-logo-transparent.png" alt="Logo"></a></h1>
    </div>
  </div>
  <!-- End div .header .sidebar .rows --> 
  
  <!-- BEGIN SIDEBAR -->
  <!-- <ng-include src="'templates/menubar.html'"></ng-include> -->

   <ng-include src="'templates/menubar.html'"></ng-include>
  <!-- END SIDEBAR --> 
  
  <!-- BEGIN CONTENT -->
  <div class="right content-page"> 
    
    <!-- BEGIN CONTENT HEADER -->
    <div class="header content rows-content-header"> 
      
      <!-- Button mobile view to collapse sidebar menu -->
      <button class="button-menu-mobile show-sidebar"> <i class="fa fa-bars"></i> </button>
      
      <!-- BEGIN NAVBAR CONTENT-->
      <div class="navbar navbar-default" role="navigation">
        <div class="container"> 
          <!-- Navbar header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-angle-double-down"></i> </button>
          </div>
          <!-- End div .navbar-header --> 
          
          <!-- Navbar collapse -->
          <div class="navbar-collapse collapse"> 
		  
			<ul class="nav navbar-nav top-navbar">
              <!-- Notifications -->
             <!--  <li>
			  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="label label-danger absolute">24</span></a>                
              </li> -->
              
              <!-- Dropdown User session -->
              <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa fa-user"></i></a>
                <ul class="dropdown-menu animated half flipInX">
                  <li><a href="" ng-click="detailAdmin()">{{'Account Setting' | i18n}}</a></li>
                  <li class="divider"></li>
                  <li><a class="md-trigger" href="login.html">{{'Logout' |i18n}}</a></li>
                </ul>
              </li>
              <!-- End Dropdown User session -->			
			</ul> 
			
			<div class="top-logo">
			  <img src="images/wfs-logo-transparent.png" alt="Logo">
			</div>			
            
          </div>
          <!-- End div .navbar-collapse --> 
        </div>
        <!-- End div .container --> 
      </div>
      <!-- END NAVBAR CONTENT-->

          <div class="media user-field">
          <div class="media-body welcome pull-left"><span ng-hide="addNewSurvey">{{survey.subject}}</span><span ng-show="addNewSurvey">{{"New"|i18n}}</span> {{"Survey"|i18n}}
          <!-- End div .media-body --> 
        </div>
        <!-- End div .media --> 
        
      </div>
       
    </div>
    <!-- END CONTENT HEADER --> 
    
    <!-- START YOUR CONTENT HERE --> 
    <!-- ============================================================== -->
    <div class="body content rows scroll-y"> 
	  
      <!-- Page header -->
      <div class="page-heading">       
      
      <div class="row">
        <div class="col-sm-12"> 
          <!-- Website statistic -->
          <div class="box-info">
            <form class="form-horizontal survey-form" name="myForm">
              <div class="row">
                <div class="col-sm-6">
                  <table class="start-date">
                    <tbody>
                      <tr>
                        <td>{{"Start Date"|i18n}}</td>
                        <td>
                          <datepicker  date-format="dd-MM-yyyy">
                            <input ng-model="survey.createdate" type="text" ng-required="true" readonly="true" ng-disabled="viewSurvey" placeholder="dd-mm-yyyy" />
                          </datepicker>
                        </td>
                      </tr>
                      <tr>
                        <td>{{"Start Time"|i18n}}</td>
                        <td>
                          <input data-id="timepickerId" type="text" class="form-control" ng-required="true"  placeholder="00:00:00" ng-disabled="viewSurvey" ng-model="survey.createtime" name="createtime" ng-pattern="/^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/">
                          <span class="error" ng-show="myForm.createtime.$error.pattern">{{"Not a valid time!"|i18n}}</span>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-6">
                  <table class="end-date">
                    <tbody>
                      <tr>
                        <td>{{"End Date"|i18n}}</td>
                        <td>
                          <datepicker  date-format="dd-MM-yyyy">
                            <input ng-model="survey.enddate" type="text" ng-required="true" readonly="true" ng-disabled="viewSurvey" placeholder="dd-mm-yyyy" />
                          </datepicker>
                        </td>
                      </tr>
                      <tr>
                        <td>{{"End Time"|i18n}}</td>
                        <td>
                          <input data-id="timepickerId" type="text" class="form-control" ng-required="true" ng-disabled="viewSurvey" placeholder="00:00:00" ng-pattern="/^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/" name="endtime" ng-model="survey.endtime">
                          <span class="error" ng-show="myForm.endtime.$error.pattern">{{"Not a valid time!"|i18n}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row survey-subject">
                <div class="col-xs-12">
                   <input type="text" class="form-control" ng-required="true" placeholder="Subject" ng-disabled="viewSurvey" ng-model="survey.subject">
                </div>
              </div>
              <div class="row survey-description">
                <div class="col-xs-12">
                  <textarea rows="13" class="form-control" ng-required="true" placeholder="Description" ng-disabled="viewSurvey" ng-model="survey.detail"></textarea>
                </div>
              </div>
              <div class="text-center actions">
                <div class="button-wrap"  ng-hide="viewSurvey">
                  <div style="width:20%;float:left;">&nbsp;</div>
                   <button type="submit" class="btn btn-default btn-save-survey" ng-disabled="myForm.$invalid || myForm.input.$error" ng-click="saveUpdate(survey)"><span ng-show="editSurvey" ng-hide="addNewSurvey">{{"Update"|i18n}}</span><span ng-hide="editSurvey" ng-show="addNewSurvey">{{"Save"|i18n}}</span></button>
                  <button type="submit" class="btn btn-primary" ng-click="cancel()">{{"Cancel"|i18n}}</button>
                  <div class="add-questions-btn" ng-class="{'add-questions-hidden':myForm.$invalid || myForm.input.$error,'add-questions-visible':!(myForm.$invalid || myForm.input.$error)}">{{"Add Questions"|i18n}}<br/>
                    <div class="btn-questions" ng-click="questionList(survey)"  ><i class="fa fa-3x fa-plus-circle"></i></div>
                  </div>
                </div>
                <div class="button-wrap" ng-show="viewSurvey">
                  <button type="submit" class="btn btn-default btn-save-survey" ng-disabled="myForm.$invalid || myForm.input.$error" ng-click="questionList(survey)">{{"View Questions"|i18n}}</button>
                  <button type="submit" class="btn btn-primary" ng-click="cancel()">{{"Cancel"|i18n}}</button>
                </div>
              </div>
            </form>
		
          </div>
          <!-- End div .box-info --> 
        </div>
        
        <!-- End div .col-sm-4 --> 
      </div>
      <!-- End div .row --> 
      
      <!-- Footer -->
      <footer> <h6 class="text-center">&copy; {{fotterTitle}}</h6></footer>
      <!-- End Footer --> 
      
    </div>
    <!-- ============================================================== --> 
    <!-- END YOUR CONTENT HERE --> 
    <!-- ============================================================== --> 
    
  </div>
  <script src="js/libs/jquery.timepicker.js"></script>
<script>
           (function () {
             $('#jqte-test3').jqte();
}());
</script>
<script>


            $("input[data-id='timepickerId'").timepicker(
                {
                  'timeFormat': 'H:i:s' 
                });
</script>
  <!-- END CONTENT -->
  <div class="md-overlay"></div>
</div>
</div>
<!-- End div .container --> 
<!-- END PAGE --> 

